{% extends 'index.html' %}

{% block meta %} 
<style>
  html, body {
  height: 100%;
  margin: 0;
}
.chartCard {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 80px;
}

.chartBox {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

</style>
{% endblock %}


{% block content %}
<div class='chartCard'>
  <div class='chartBox'>
    <canvas id="bar-chart"></canvas>
    <input onchange='filterData()' type='datetime-local' id="startDateTime" name="startDateTime" >
    <input onchange='filterData()' type='datetime-local' id="endDateTime" name="endDateTime">
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script>
  const barChart = new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: [],
      datasets: []
    },
    options: {
      responsive: true,
      legend: {
        display: true,
        position: 'bottom'
      },
      scales: {
        stacked: true,
        x: {
          title: {
            display: true,
            text: 'Logged at'
          },
        },
        y: {
            title: {
              display: true,
              text: 'Device count'
          },
        },
        xAxes: [{
          stacked: true,
          ticks: {
            autoSkip: true,
            maxTicksLimit: 20,
            maxRotation: 0,
            minRotation: 0
          },
          type: 'time',
          time: {
            timeZoneName: 'Europe/Kyiv',
            unit: 'day',
            displayFormats: {
              day: 'MMM DD'
            }
          }
        }],
        yAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true,
            precision: 0
          },
          scaleLabel: {
            display: true,
            labelString: 'Count'
          }
        }]
      }
    }
  });  

</script>
<script>
  function filterData() {
    const startDateTime = document.getElementById('startDateTime').value;
    const endDateTime = document.getElementById('endDateTime').value;
    const url = /graph/bar-json/?start=${startDateTime}&end=${endDateTime}


    fetch(url)
    .then(response => response.json())
    .then(data => {
      barChart.data.labels = data.labels;
      barChart.data.datasets = data.datasets;

      barChart.update();
    }).catch(error => console.error(error));
  }
</script>
<script>
    const dateParams = {
        timeZone: 'Europe/Kyiv',
    }
    const lastHour = new Date(Date.now().toLocaleString() - 3600000);
    const lastHourString = lastHour.toLocaleString('en-US', dateParams);
    const lastHourISOstring = new Date(lastHourString).toISOString().slice(0, 16);

    const now = new Date();
    const nowString = now.toLocaleString('en-US', dateParams);
    const nowISOstring = new Date(nowString).toISOString().slice(0, 16);

    document.getElementById("startDateTime").defaultValue = lastHourISOstring;
    document.getElementById("endDateTime").defaultValue = nowISOstring;
</script>
{% endblock %}
